/* Variable declaration */
:root {
    --primary-light: #ccc;
    --primary-background: #1b1935;

    --border: 1px solid var(--primary-light);
    --border-radius: 10px;

    --bg-size: 20px;
    --bg-primary: #080814;
    --bg-line: #0f0f0f;
}

html, input, textarea {
    font-family: "Urbanist", sans-serif;
}

html {
    color: var(--primary-light);
}

body {
    margin-top: 10px;

    /* https://stackoverflow.com/a/50277867 */
    background:
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-primary) 23.5%, transparent 0) calc(var(--bg-size) * .7) var(--bg-size),
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-line) 24%, transparent 0) calc(var(--bg-size) * .6129) var(--bg-size),
        linear-gradient(var(--bg-primary) 14%, transparent 0, transparent 85%, var(--bg-primary) 0)0 0,
        linear-gradient(150deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(30deg, var(--bg-primary) 24%, var(--bg-line) 0, var(--bg-line) 26%, transparent 0, transparent 74%, var(--bg-line) 0, var(--bg-line) 76%, var(--bg-primary) 0)0 0,
        linear-gradient(90deg, var(--bg-line) 2%, var(--bg-primary) 0, var(--bg-primary) 98%, var(--bg-line) 0%)0 0 var(--bg-primary);
        background-size:calc(var(--bg-size) * 1.333) calc(var(--bg-size) * 2);
}

a, .link {
    color: rgb(235, 184, 184);
    text-decoration: underline;
    cursor: pointer;
}

button, .button {
    background-color: transparent;
    border: var(--border);
    color: white;
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: pointer;
    font-family: "Quantico", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

/* Container components */
.container {
    background-color: var(--primary-background);

    margin: 0 auto;

    padding: 5px;
    margin-bottom: 15px;

    overflow: hidden;
}
.main-column {
    width: 70vw;
}
.sub-column {
    width: calc(15vw - 5px);
}
.box {
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
}
@media (max-width: 1000px) {
    .columns {
        flex-direction: column;
    }

    .main-column {
        order: 2;
    }
    .main-column, .sub-column {
        width: 98%;
    }
}

.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.flex-center-hor {
    justify-content: center;
}
.flex-center-ver {
    align-items: center;
}

/* Word display area */
.word {
    position: relative;
}
.hint-length {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: var(--primary-background);
    font-size: 10px;
    padding: 3px;
    border-top-left-radius: var(--border-radius);
}

.hidden-word {
    background-color: black;
    height: 30px;
}
.found-word {
    color: rgb(151, 228, 151);
}

.word-list {
    font-size: 1.5em;
    font-family: "Google Sans Code", monospace;
}
.word-list > div {
    width: 100%;
    min-height: 30px;
}
#guess-sdesc {
    height: 135px;
    overflow-y: scroll;
    scrollbar-color: var(--primary-light) transparent;
    align-items: baseline;
}
#guess-desc {
    height: calc(100vh - 380px);
    overflow-y: scroll;
    scrollbar-color: var(--primary-light) transparent;
    align-items: baseline;
}
@media (max-width: 750px) {
    #guess-desc {
        height: calc(100vh - 430px);
    }
}

/* Input */

#input-area {
    height: 40px;
    position: relative;
}
#input-area input[type=text] {
    width: 300px;
    height: 28px;
    font-size: 20px;
}
#input-area #last-input {
    position: absolute;
    margin: 0;
    height: 40px;
    right: 10px;
    font-size: 25px;
    gap: 0;
}
#input-area .last-word {
    margin-right: 10px;
}
.last-close {
    background-color: rgb(133, 86, 0);
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    width: 25px;
    text-align: center;
}
.last-found {
    background-color: rgb(92, 138, 92);
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    width: 25px;
    text-align: center;
}
@media (max-width: 750px) {
    #input-area {
        height: 80px;
    }

    #input-area #last-input {
        position: relative;
        width: 100%;
        padding-left: 10px;
    }
    #input-area .last-word {
        order: 1;
        padding-left: 10px;
    }
}

input[type=text] {
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    color: var(--primary-light);
}

#history {
    height: calc(100vh - 171px);
    flex-direction: column;
    align-content: flex-start;
    overflow-y: scroll;

    flex-wrap: nowrap;
    scrollbar-color: var(--primary-light) transparent;
}
#history > div {
    width: 150px;
    gap: 0;
    margin: 2px 0;
}
#history .last-word {
    width: 85px;
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    order: 1;
    padding-left: 5px;
}
#history .last-found, #history .last-close {
    width: 30px;
    padding: 0;
    text-align: center;
}
@media (max-width: 1000px) {
    #history {
            height: 110px;
        overflow-x: scroll;
        flex-wrap: wrap;
    }
}

/* Modal */
.modal {
    position: fixed;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--primary-background);
    border: var(--border);
    border-radius: var(--border-radius);
    z-index: 2;
}
.modal p {
    margin: 0;
    align-self: flex-start;
}
.modal h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal.is-flex {
    flex-flow: column;
    gap: 20px;
}
.winning-modal {
    flex-direction: column;
}
.winning-modal > * {
    position: fixed;
}
.winning-modal .is-flex {
    margin-top: 10px;
}
.winning-modal video {
    width: 80%;
}
.winning-modal .background-image {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;

    filter: brightness(20%) blur(5px);
}
@media (max-width: 600px) {
    .modal {
        width: 100%;
        height: 100%;
    }
}